# Gradle служебные файлы
.gradle/
build/

# IntelliJ IDEA (настройки редактора кода)
.idea/
*.iml
*.iws

# Логи и временные файлы
*.log
.DS_Store

# Файлы операционной системы Windows
Thumbs.db
Desktop.ini
